body {
    background: #FAFAFA;
}

label {
    font-size: 18px;
}

h1 {
    margin-bottom: 20px;
}

h4 {
    line-height: 24px;
}

h5 {
    font-size: 16px;
}

a {
    color: #777;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.main--container {
    margin-top: 20px;
}

/* form control */

.error {
    color: #dc3545;
    font-size: 12px;
    display: block;
}

.radio-button-row .error {
    font-weight: bold;
}

.form-control[disabled] {
    background-color: white;
}

.block {
    margin-bottom: 30px;
}

.block--header {
    padding: 0 30px;
    margin-top: 30px;
}

.block--content {
    margin-bottom: 0;
}

.submit-row {
    text-align: center;
    margin-top: 30px;
}

/* Content form style */

.tab-content {
    background: white;
    padding: 40px;
    border: 1px solid #E0E4E7;
}

.mandatory-sign {
    position: relative;
    margin-right: 20px;
}

.mandatory-sign::before {
    content: "*";
    color: red;
    font-size: 26px;
    position: absolute;
    left: 0;
    top: 0;
}

.mandatory-sign-top::before {
    top: -5px;
}

/* Navigation style */

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border: 0;
}

.wizard .wizard-inner {
    position: relative;
    margin-bottom: 40px;
}

.connecting-line {
    height: 1px;
    background: black;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 68%;
    z-index: 1;
}

.wizard .nav-tabs>li.active>a,
.wizard .nav-tabs>li.active>a:hover,
.wizard .nav-tabs>li.active>a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    background: #FAE7BA;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
}

/* Input style */

input.form-control,
textarea.form-control {
    margin: 10px 0;
    border-radius: 0;
    border: 1px solid #14499D;
    padding: 25px 10px;
    font-size: 18px;
}

.block--disease h4,
.block--disease input.form-control {
    margin-bottom: 20px;
}

.disabled {
    color: grey;
}

.disabled input {
    border-color: grey;
}

.disabled textarea {
    border-color: grey;
}

.block--password-details {
    padding-left: 0;
    font-size: 16px;
}

.row-password-details .col-sm-4,
.row-password-details .col-sm-8 {
    padding-left: 0;
}

.block--password-details input {
    border: 0;
    padding: 20px 10px 20px 0;
    width: 100%;
}

.new-password-error,
.confirm-password-error {
    border-top: 2px solid #8AA5D0;
}

.span--password-detail {
    display: block;
    padding: 20px 0;
    color: #6c757d;
}

/* Next step button style */

.submit {
    padding: 15px 100px;
    border: 1px solid #FDBE2C;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
}

/* Go back error */

.back-arrow {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: 10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.back-arrow::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 15px;
    width: 12px;
    height: 12px;
    border: solid black;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.back-arrow::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #CCC;
}

input::placeholder {
    color: #CCC;
}

#new_password-error,
#confirm_password-error {
    padding: 10px 10px 0;
}

@media( max-width: 768px) {
    h1 {
        font-size: 28px;
    }
    .block--password-details {
        font-size: 14px;
    }
    .list-inline li {
        padding: 0;
    }
    .block--date input {
        margin-right: 5px;
    }
    .p-title {
        display: none;
    }
    /* navigation style */
    span.round-tab {
        width: 40px;
        height: 40px;
        line-height: 37px;
    }
    .tab-content {
        padding: 20px;
    }
    .wizard {
        width: 100%;
        height: auto !important;
    }
    .wizard-inner {
        width: 95%;
    }
    .connecting-line {
        display: none;
    }
    .block--checkbox-inline {
        display: block;
    }
}
